html, body, div#root, .App, .container-fluid {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 100px;
  background-color: #212529;
}

.project {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

.ProfPic {
  width: 400px;
  height: 500px;
  border-radius: 10%;
  object-fit: cover;
}

.linkedin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h3 {
  font-size: 2vw;
}
